# $HOME/.config/systemd/user/
# https://www.freedesktop.org/software/systemd/man/systemd.unit.html#Specifiers

[Unit]
Description=A telegram forwarder that will automatically post message form Another telegram channel / group to Your telegram channel / group
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=30
StartLimitBurst=100000

[Service]
Type=simple
Restart=always
RuntimeMaxSec=1h
ExecStart=/opt/telegram-forwarder_auto-Levitsky/telegram-forwarder_auto-Levitsky.py

[Install]
# Use default.target instead of multi-user.target for user units
WantedBy=default.target
